* {
    margin: 0;
}
.welcome-text {
    text-indent: 2em;
}

h1{
    padding: 10px;
    margin: 0;
    background-color: rgb(228, 78, 78);
    color: goldenrod;
    text-align: center;
}

footer{
    text-align: right;
}